.bus{
   
    /* height: 150px; */

}
.bus-div:hover{
    box-shadow: 1px 5px 5px 1px gray;
}
.font-b{
    font-weight: bolder;
    font-size: 24px;
}
.name{
    font-size: 27px;
    font-weight: bold;
}
/* .dd{
    height: 70px;
} */
.border-bottom-dark{
    border-bottom: 2px solid grey;
}
.font-bold{
    font-weight: bold;
}
.font-size-20{
    font-size: 20px;
}
.font-grey{
    color:grey;
}
.rating-img{
    width:30px;
    color:white;
}
.green-bg{
    width: 47px;
    height: 30px;
    background-color:rgb(103, 186, 124);
    border-radius: 3px;
}