.view-btn{
    width: 200px;
    height: 50px;
  
   position: relative;

}
.font-size-13{
    font-size: 13px;
    
}
.font-bold{
    font-weight: bold;
}
.blue-bg{
    background-color: rgb(238, 237, 237);
}

.boarding-bg{
    background-color: rgb(248, 248, 248);
}
.font-size-25{
    font-size: 25px;
}
.font-grey{
    color:grey;
}
.left-border{
    border-left: 1px black dashed;
}
.bottom-border{
    border-bottom:1px solid rgb(206, 202, 202);
}
.font-size-20{
    font-size: 20px;
}
.book-btn{
    background-color: rgb(216, 78, 85);
    border:none;
    width:170px;
    height:35px;
    color:white;
}
.width-user-form {
   
    width:700px;
   
   
  
   
}
.user-radio{
    width:20px
}
.user-form-input{
    border:1px solid grey;
    border-radius: 2px;
}

.user-icon-form{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    
    color: white;
}

.border-form{
    box-shadow: 0px 3px 4px 1px grey;
}
.bottom-border-dark{
    border-bottom: 2px solid rgb(231, 226, 226);
}
.bg-green{
    background-color: rgb(59, 192, 159);
}
.bg-yellow{
    background-color: rgb(230, 169, 55);
}
.bg-light-yellow{
    background-color:rgb(255, 241, 129);
    width:50%;
    border-radius: 3px;
}
.phone-code{
    width: 20%;
    text-align: center;
    border:1px solid grey;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}
.width-35{
    width: 200px;
}

.red-border{
    border:1px red solid;
}

.submitted-icons{
    width: 40px;
    color:red;
}
.red-font{
    color:red
}

.success-div{
    width: 600px;
}
.red-bg-light{
    background-color: rgb(248, 161, 161);
}

.success-shadow{
    box-shadow: 1ox 5px 8px 0px grey;
}
.green-font{
    color:rgb(104, 207, 104);
}