.container-fluid{
    padding: 0;
    margin: 0;
   
}

.form-row{
    /* background-color: white; */
}
.white-bg{
    /* background-color: white; */
}

.not-sub-height{

    height: 20vh;
      box-shadow: 1px 5px 5px 1px gray;
}
.c{
  width: 100%;
height: 450px;
    background-color: rgb(199, 65, 55);
    background-image: url(https://st.redbus.in/Images/rdc-hero-image-november-21.png) ;
    background-repeat: round;
    background-size: cover;
  
   overflow: hidden;
   box-sizing: border-box;
}
.submitted-form{
    width: 100%;
    height: 20vh;
  
    box-sizing: border-box;
    /* box-shadow: 1px 5px 5px 1px gray; */
    border-bottom: 1px solid grey;
   
   
}
.search-buses {
    background-color: rgb(228, 84, 93);
    border: none;
    color: white;
    height: 100%;
    /* width: 100%; */
}
.modify{
    background-color: rgb(248, 244, 244);
    border-radius: 5px;
    color: gray;
    border: 1px solid grey;
}
input{
    height:40px;
    width: 100%;
}
.arrow-font{
    font-size: 28px;
}
.i{
    /* width: 50%; */
    /* height: 50px; */
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: gray;
   
}
input{
    border:none;
    /* border: 1px solid gray; */
    background-color: white;
    
}
.input-image{
    width: 20px;
    /* z-index: -1; */
}
.input-image-calender{
    width: 20px;

}
.darrow{
    background-color: white;
    
    
   
    
}
.sumitted-form-size{
    width:78%;
    /* border: 1px solid black; */
}
.border-grey-round{
    border-radius: 50%;
    border:2px solid grey;
}
.input-image-darrow{
    width:25px;
   
    

}
.p input{
   
  
    background: transparent;
    background-color: transparent;
    outline: none;
    overflow:auto;
   
}



.p input[type="date"]::-webkit-calendar-picker-indicator{
background-size: 100%;
/* height: 200px;
width:40px;
  position: absolute;
  top:0%;
  left:-10%; */
  /* background: none; */

  cursor: pointer;
   
}


input:-webkit-autofill {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    overflow: hidden;
}
.s{
    font-size: 18px;
   width: 100%;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    overflow: hidden;
    text-align: center;
}
.bob{
    border-bottom:1px solid black;
   
}

.red-border{
    border:1px solid red;
}
.search{
    background-color: rgb(248, 244, 244);
    border-radius: 5px;
    color: gray;
    border: 1px solid grey;
   

}


.row{
    /* height: 7vh; */
}
/* search*/

.l{
    width: 11%;
    height: 20vh;
    overflow: auto;
   position: absolute;
   margin-right:10px;
    /* overflow-y: scroll; */
}
button{
    width: 100%;
   
  
}
.place{
    
    border:1px rgb(198, 198, 209) solid;
    background-color: white;
    border-radius: 5px;
}
.error-message{
 color: red;
 width: 100%;
    height: 5px;
}
.row.no-gutter [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
  }
 

  /* .row.no-gutter [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
   
  } */
  .color-white{
     float: right;
  }
  .search-btn{
      width: 75%;
      height: 35px;
    background-color: rgb(228, 84, 93);
    border-radius: 5px;
    color: white;
    border: none;
    margin-left: 5px;
  }