.red-bus-logo{
    width: 75px;
}
.navbar{
  
    background-color:rgb(216, 79, 87);
   height: 65px;
   color: rgb(32, 31, 29);
   font-size: 14px;
}
.nav-link{
  
    color:rgb(243, 236, 236);
    text-align:center;
    font-size: 14px;
}
.nav-link:hover{
    color: white;

}
.btn{ 
    color: rgb(243, 236, 236);
    border: none;
    text-align: center;
    font-size: 14px;
}
.btn:onclick{
    border: none;
    color: white;
}
.btn:hover{
    border: none;
    color: white;
}
.down-arrow{
    color:white;
    
}
.modal-header{
   border:none;
}

.sign-img{
    width: 100%;
}
.ccc{
    
}
.right-sign{
 
}
.font-size-10{
    font-size:15px;
    border-right:1px black solid ;
}
.sign-btn{
    height:60px;
    border:none;
    font-size: 18px;
   
}
.red-font{
    color:red;
}
.sign-nav-btn{
   
    background-color:white ;
    color:black;
    font-size: 16px;
    border:none;

}
.sign-nav-btn:hover{
    background-color:rgb(237, 237, 237) ;
    color:black;
   
}
.sing-up-icon{
    background-color: transparent;
    border:none;
    color: white;
}
.red-bg{
    background-color: rgb(241, 172, 172);
}

.font-grey{
    color: grey;
}
.font-size-11{
    font-size: 11px;
}
.font-blue{
    color:rgb(173, 203, 238);
}