
/* .modal-body{
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height: auto;
    
    position: absolute;
}
.modal-content{
    width: 300px;
    height:300px;
    background-color: white;
} */