.outer-div{
    width: 50px;
    height: 25px;
   border:1px solid black;

}
.inner-div{
    width:15px;
    height: 20px;
    background-color: white;

}
.bus-deck{
    background-color: white;
    border-left:7px solid rgb(46, 45, 45);
}