.w{
    background-image: url(https://s2.rdbuz.com/web/images/home/sgp/aboutTravel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
filter: brightness(0.7);

  

}
